@-moz-document url-prefix()
  .box-flex.tip-box.standard-box
    margin-top .5vw

  .box-flex.tip-box.standard-box.big-box
    margin 0

  .box-flex.tip-box.standard-box
    margin .5vw 0

  .box-flex.standard-box,.box-flex.tip-box.standard-box.big-box
    margin 1px 0
