          /*** ESTILOS GENERALES ***/
@import './normalize.css'
@import './header.styl'
@import './home.styl'
@import './slider.styl'
@import './grid-menu.styl'
@import './grid-tips.styl'
@import './contact.styl'
@import './nosotros.styl'
@import './products.styl'
@import './footer.styl'
@import './firefox-fix.styl'

html,body
  overflow-x hidden
  width: 100%;
  position: relative;
  height: 100%;

body
  background-color #fff
  margin 0 auto
