.nosotros
  width 100%
  height auto

.top-nosotros
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 30.8vw;
  height: auto;
  background-image: url('../img/banner1-01.png');
  background-repeat round
  background-size: cover;

.box-wrapper
    position: relative;
    width: 60%;
    height: auto;
    background-color: rgba(75,74,77,.8);
    margin: 0 auto;

.nosotros-logo svg
  width 160px
  height 84px
  margin-left 5%

p.text-nosotros
  color: #fff;
  width: 80%;
  text-align: justify;
  float: right;
  margin-right: 5%;
  font-size 18px

.img-background
  width 100%
  height auto

.img-background img
  width 100%
  height auto

//////////
//bottom//
//////////

.mid-nosotros
  width 80%
  height auto
  margin 0 auto
  display flex
  flex-direction column
  justify-content space-between
  align-items center

.mid-wrapper
  width 100%
  height auto
  display flex
  flex-direction row
  justify-content space-around
  align-items center
  margin 3vw 0

.mid-wrapper.mid-bottom-wrapper
  margin 0
  margin-bottom 2vw

.mid-title-wrapper
  width 100%

.mid-right-side
  display flex
  flex-direction column

.right-side-bottom
  flex-direction row
  justify-content flex-start

.mid-right-side.right-side-bottom .mid-top-img
  margin-right 14px

span.mid-title
  margin-left 5%
  font-size 24px

span.mid-text
  font-size 18px
  font-weight 100

.mid-text-wrapper
  width 80%
  text-align justify
  margin 0 auto

span.mid-title, span.mid-text
  color gray

.mid-left-side,.mid-right-side
  width 50%
  height auto

.mid-top-img, .mid-bottom-img
  text-align right

.mid-top-img img, .mid-bottom-img img
  max-width 100%

.mid-bottom-wrapper
  flex-direction row-reverse

.mid-title-wrapper
  margin-bottom 3vw

@media (min-width 1920px)
  .mid-nosotros
    width 70%

@media (min-width 1680px)
  .mid-nosotros
    width 75%

  .mid-right-side
    width 35%

@media (max-width 1280px)
  .mid-nosotros
    width 90%

  .box-wrapper
    width: 70%
    margin 2vw 0

@media (max-width 1024px)
  .mid-nosotros
    width 95%

  .mid-title-wrapper
    margin-bottom 5vw

@media (max-width 768px)
  .mid-wrapper,.mid-bottom-wrapper
    flex-direction column

  .mid-left-side, .mid-right-side
    width 85%
    margin 0 auto

  .mid-bottom-img, .mid-top-img
    text-align center
    margin .5vw 0

  .mid-right-side.right-side-bottom
    justify-content center

  span.mid-title
    font-size 20px

  span.mid-text
    font-size 16px

  .nosotros-logo
    text-align center

  .nosotros-logo svg
    height 75px
    margin-left 0

  p.text-nosotros
    margin-right 2.5%
    width 90%
    font-size 16px

  .box-wrapper
    width 70%
    margin 3vw 0

@media (max-width 640px)
  .mid-left-side, .mid-right-side
    width 90%

  .mid-title-wrapper
    text-align center

  span.mid-title
    margin 0 auto

  .mid-text-wrapper
    padding-bottom 3vw

  .box-wrapper
    width 80%
    margin 4vw 0

@media (max-width 480px)
  .mid-left-side, .mid-right-side
    width 95%

  .mid-nosotros
    width 100%

  span.mid-title
    font-size 18px

  span.mid-text
    font-size 14px

  p.text-nosotros
    font-size 14px

  .box-wrapper
    width 90%
    margin 5vw 0

@media (max-width 320px)

  .box-wrapper
    width 95%
    margin 6vw 0
