.menu-products
  width 100%
  height auto
  padding 1vw 0
  background-color rgb(127,127,127)
  text-align center

.menu-products ul
  list-style-type none
  display inline
  padding 0

.menu-products ul li a,.menu-products ul li
  display inline
  color #fff
  margin 0 1vw
  cursor pointer;
  padding: 4vw 0;
  text-decoration: none

.menu-products ul li a:hover
  color #f1a9b0


@media (max-width 768px)
  .menu-products
   padding: 4vw 0
